$background: rgb(247, 108, 22);

header{
    width: 100%;
    max-height: 6.25rem;
    background-color: $background;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .logo{
        margin: 15px;
        img{
            margin-right: 15px;
            width: 45px;
            height: 45px;
        } 
    }
    .navbar{
        margin: 15px;
        ul{
            
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style: none;
            li{
                a{
                    color: white;
                    text-decoration: none;
                    margin: 0.4125rem;
                    &:hover{
                        color: black;
                        }
                    }
                }
            }
        }
    }

